<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>318 SBA Express Server Application</title>
        </head>
<body>

 <div id="app">
      <h1>#title#</h1>
      <div>#content#</div>
      <div>#footer#</div>
    </div>



</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div style="color:red">
        <div class="sidebar">
            <a class="nav-link nlink-sidebar active" href="#">
                <h6 style="padding-left:10px">GROCERY </h6>
            </a>
            <a class="nav-link nlink-sidebar" href="produce.html">
                <h6 style="padding-left:10px">PRODUCE</h6>
            </a>
            <a class="nav-link nlink-sidebar" href="#">
                <h6 style="padding-left:10px">BAKERY</h6>
            </a>
            <a class="nav-link nlink-sidebar" href="#">
                <h6 style="padding-left:10px">SPECIALTY</h6>
            </a>
            <a class="nav-link nlink-sidebar" href="#">
                <h6 style="padding-left:10px">MEAT & SEAFOOD</h6>
            </a>
            <div id="memebership-banner">
                <a href="newform.html">
                    <h4 id="membership">Join our Exclusive Membership</h4>
                    <img id="sidebar-banner"
                        src="https://www.wildapricot.com/wp-content/uploads/2022/10/free-membership.png">
                </a>
            </div>
</div>
  <!-- <a href="/about">Learn more about us</a> -->
</body>
</html>